body{
  width: 99%;
  box-sizing: border-box;
}

.table{
  margin-top: 10px;
}

.gendertop{
  margin-top: 70px;
}
.button_right{
  float: right;
}
h2{
  margin-bottom: 23px;
}
.Navbar .Navbar_brand{
  width: 100%;
  margin-left: 150px;
  box-sizing: border-box;
}
/* .img{
  margin-left: 50px;
} */
.pagination{
  margin: 0 auto;
}
.th{
  text-align: center;
}

